.margen{
    padding: 1rem;
    gap: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   



}





.perfil{
   
  gap: 3rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:50%; */
    height: auto;

   
   
}


  .foto{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foto-c{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img{
    width:70% ;
    height: auto;
    border-radius: 100%;
  }

/* .redes{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p{
    color: chartreuse;
} */